:root {
  /* цвета */
  --title-text-color: #212121;
  --secondary-background-color: #f5f4fa;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --fill-main: #afb1b8;
  /* шрифты */
  --primary-font: 'Roboto';
  --secondary-font: 'Raleway';
  /* переходы */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--title-text-color);
  font-family: var(--primary-font), sans-serif;
  background-color: #fff;
}

address {
  font-style: normal;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
textarea {
  outline: none;
}
/* анимация */
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* ================================================ */
/* ===container=== */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
/* скрытые элементы */
.vis-hidden,
.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ========================================= */
/* ===навигация сайта===, ===header=== */
.header {
  border-bottom: 1px solid #ececec;
  position: sticky;
  top: -1px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99;
}

.main-nav {
  display: flex;
}

.contacts-ico {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms var(--timing-function);
}
.contacts-header:hover .contacts-ico,
.contacts-header:focus .contacts-ico {
  fill: var(--accent-color);
}

.header-info {
  display: flex;
  margin-left: auto;
}

.site-nav {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  align-content: center;
  margin-right: 40px;
  align-items: center;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link,
.contacts-header {
  padding: 32px 0;
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}
.contacts-header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
}

.nav-link:focus,
.contacts-header:hover,
.nav-link:hover,
.contacts-header:focus {
  color: var(--accent-color);
}

.nav-link.current {
  position: relative;
  color: var(--accent-color);
}

.nav-link.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  bottom: -1px;
  border-radius: 2px;
}
/* ============================================= */

/* логотип студии */
.logo {
  display: inline-block;
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo.logo-h {
  margin-right: 93px;
}

.logo-header {
  color: #000000;
}
.logo-footer {
  color: #fff;
}
/* =============================================== */

/* страница ===студия=== */

/* герой */
.hero {
  background-color: #212121;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-1.jpg);
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  padding: 200px 0;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero-button,
.submit-btn-ft,
.submit-form-btn {
  border-radius: 4px;
  border: transparent;
  display: inline-block;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #fff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-title {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* ========================================== */
/* ===модальное окно героя=== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
  z-index: 100;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}
/* ==================================== */

/* кнопка модалки */
.close-ico {
  position: absolute;
  fill: #000;
  transition: fill 250ms var(--timing-function);
}
.close-modal:hover .close-ico,
.close-modal:focus .close-ico {
  fill: var(--accent-color);
}

.close-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
/* ========================================== */
/* форма модального окна */
.modal-form {
  margin-top: 12px;
}

.modal-headline {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* инпуты */
.form-input,
.form-message {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 15px 12px 42px;
  transition: border 250ms var(--timing-function);
}

.form-input:focus,
.form-input:hover,
.form-message:focus,
.form-message:hover {
  border: 1px solid var(--accent-color);
}

.form-input:focus + .form-input-icon,
.form-input:hover + .form-input-icon {
  fill: var(--accent-color);
}
.form-input-label {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 12px;
  position: relative;
}
.form-input-label.message {
  margin-bottom: 20px;
}

.form-input-icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 10px;
  fill: var(--title-text-color);
  transition: fill 250ms var(--timing-function);
}
/* ================================================ */
/* textarea */
.form-message {
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.14;
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
/* ================================================= */
/*  */
.policy-box {
  font-size: 14px;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-box a {
  color: var(--accent-color);
  text-decoration: underline;
}
/* ===кастомный чекбокс=== */

.policy-checkbox:checked + .policy-box::before {
  background-image: url(../images/icon-check.svg);
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: border-box;
}
.policy-checkbox:hover + .policy-box::before,
.policy-checkbox:focus + .policy-box::before {
  border: 2px solid var(--accent-color);
}

.policy-box::before {
  content: '';
  display: block;
  cursor: pointer;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: border 250ms var(--timing-function);
}

/* кнопка ===отправить=== */
.submit-form-btn {
  padding: 10px 55px;
  transition: box-shadow 250ms var(--timing-function);
}
.submit-form-btn:hover,
.submit-form-btn:focus {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.4);
}

/* ======================================= */
/* заголовки секций студии */
.section {
  padding: 94px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* ========================================= */

/* особенности */
.features {
  display: flex;
}

.feat-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
.feat-logo {
  width: 70px;
  height: 70px;
}

.feat-title,
.work-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feat-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.feat-text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feat-title-txt {
  margin-right: 30px;
}

.feat-title-txt:last-child {
  margin-right: 0;
}

/* ======================================== */

/* чем мы занимаемся */
.section-work {
  padding-top: 0;
}

.work {
  display: flex;
}

.work-list {
  margin-right: 30px;
}

.work-list:last-child {
  margin-right: 0;
}

/* основной стиль в .feat-title */
.work-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}
.work-thumb {
  position: relative;
  overflow: hidden;
}
/* ======================================== */

/* команда */
.section-team {
  background-color: var(--secondary-background-color);
}
.team-txt {
  padding: 30px 0;
}

.team {
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}

.team-unit {
  background: #fff;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.team-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-post {
  margin-bottom: 16px;
  text-align: center;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* команда ===соцсети=== */
.soc-btn {
  display: flex;
  justify-content: center;
}

.soc-unit {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.soc-unit:last-child {
  margin-right: 0;
}
.soc-logo {
  width: 20px;
  height: 20px;
  fill: var(--fill-main);
  transition: fill 250ms var(--timing-function);
}

.soc-link {
  background-color: #fff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}
/* .класс-ссылки:hover .класс-иконки {
  fill: нужный цвет; */

.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-color);
}
.soc-link:hover .soc-logo,
.soc-link:focus .soc-logo {
  fill: #fff;
}
/* ============================================ */

/* клиенты */

.clients {
  display: flex;
}

.cl-unit {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.cl-unit:last-child {
  margin-right: 0;
}

.cl-logo {
  width: 106px;
  height: 60px;
  fill: var(--fill-main);
  transition: fill 250ms var(--timing-function);
}

.cl-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--fill-main);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.cl-link:hover .cl-logo,
.cl-link:focus .cl-logo {
  fill: var(--accent-color);
}
.cl-link:hover,
.cl-link:focus {
  border: 1px solid var(--accent-color);
}
/* ============================================ */

/* страница ===портфолио===*/

/* кнопки портфолио */
.filter-btn {
  margin-right: 8px;
}

.filter-btn:last-child {
  margin-right: 0;
}
.port-button {
  border: transparent;
  border-radius: 4px;
  text-align: center;
  padding: 6px 22px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.port-button:hover,
.port-button:focus {
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.port-button:active {
  background-color: var(--accent-color);
  color: #fff;
}

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

/* ============================================= */

/* галерея портфолио */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.port-item a {
  color: var(--title-text-color);
}

/* ================================== */
.port-thumb {
  position: relative;
  overflow: hidden;
}
.port-img {
  display: block;
}
.port-overlay {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transition: transform 250ms var(--timing-function);
  transform: translateY(100%);
}
/* ========================================= */
.port-item {
  cursor: pointer;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.port-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}

.port-link:hover,
.port-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.port-link:hover .port-overlay,
.port-link:focus .port-overlay {
  transform: translateY(0);
}

.port-txt {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.port-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.port-branch {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
/* ================================================ */

/* ===футер=== */
.footer {
  display: flex;
  align-items: baseline;
}
.page-footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.logo.logo-f {
  margin-bottom: 20px;
}

/* footer contacts  */

.contacts-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.contacts-footer.location {
  color: #fff;
}

.contacts-footer:focus,
.contacts-footer:hover {
  color: var(--accent-color);
}

.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}
/* ===соцсети=== футера */
.soc-title-ft,
.mailing-title-ft {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.soc-btn-ft {
  display: flex;
}
.soc-card-ft {
  margin-left: 70px;
}
.soc-unit-ft {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.soc-unit-ft:last-child {
  margin-right: 0;
}
.soc-logo-ft {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.soc-link-ft {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}

.soc-link-ft:hover,
.soc-link-ft:focus {
  background-color: var(--accent-color);
}
/* ==================================== */
/* рассылка (футер) */

.mailing-ft {
  margin-left: 93px;
}

.form-field-ft {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
}
.input-ft {
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  transition: border 250ms var(--timing-function);
}
.input-ft:hover,
.input-ft:focus {
  border: 1px solid var(--accent-color);
}
#user_mail:not(placeholder-shown) {
  color: #fff;
}

.submit-btn-ft {
  align-items: center;
  display: flex;
  padding: 10px 29px;
  margin-left: 12px;
  transition: box-shadow 250ms var(--timing-function);
}
.submit-btn-ft:hover,
.submit-btn-ft:focus {
  box-shadow: 0px 0px 2px #fff, 0px 0px 4px #fff;
}

.icon-send-ft {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #fff;
}
.submit-btn-ft:hover .icon-send-ft,
.submit-btn-ft:focus .icon-send-ft {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  animation-name: pulse;
  animation-duration: 2500ms;
}

/* =================== end of css ================== */
