.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #212121;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/mobile/index/hero_bcg_mob.jpg');

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mobile/index/hero_bcg_mob@2x.jpg');
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/tablet/index/hero_bcg_tab.jpg');

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/tablet/index/hero_bcg_tab@2x.jpg');
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/desktop/index/hero_bcg_desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/desktop/index/hero_bcg_desktop@2x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: #fff;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 32px;
}