:root {
    --title-text-color: #212121;
    --secondary-background-color: #f5f4fa;
    --primary-text-color: #757575;
    --accent-color: #2196f3;
    --fill-main: #afb1b8;

    --primary-font: 'Roboto';
    --secondary-font: 'Raleway';

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}